<template>
  <div v-if="item">
    <modalWindow v-model="showModel" @ok="createSubmit()" @cancel="cancel()" title="Editácia oblasti" @closed="onClose()" :cancelText="'Zrušïť'" :okText="'Uložiť'">
      <form>
        <div class="form-group" :class="{ 'has-error': errors.has('label') }">
          <label for="label">Názov</label>
          <input class="form-control" id="label" placeholder="Zadaj názov" v-model.trim="item.label" name="label" maxlength="100" v-validate="'required|min:3|max:100'">
          <p class="text-danger" v-if="errors.has('label')">{{ errors.first('label') }}</p>
        </div>
        <div class="form-group" :class="{ 'has-error': errors.has('shortDescription') }">
          <label for="label">Popis</label>
          <input class="form-control" id="shortDescription" placeholder="Zadaj popis" v-model.trim="item.shortDescription" name="shortDescription" maxlength="100" v-validate="'required|min:3|max:200'">
          <p class="text-danger" v-if="errors.has('shortDescription')">{{ errors.first('shortDescription') }}</p>
        </div>
      </form>
    </modalWindow>
  </div>
</template>

<script>
  import codeListCreateModalMixin from './codeListCreateModalMixin';

  export default {
      mixins: [codeListCreateModalMixin]
  }
</script>
